App&XML_lab1/lab1_task4.dtd

<!ELEMENT TVSCHEDULE (CHANNEL)* > 
<!ELEMENT CHANNEL (BANNER | DAY+) *>
<!ATTLIST CHANNEL CHAN ID #REQUIRED > 
<!ELEMENT BANNER (#PCDATA) >
<!ELEMENT DAY (DATE | PROGRAMSLOT*) >
<!ELEMENT DATE (#PCDATA)>
<!ELEMENT PROGRAMSLOT (TIME | TITLE | DESCRIPTION?) >
<!ELEMENT TIME (#PCDATA) >
<!ELEMENT TITLE (#PCDATA) >
<!ATTLIST TITLE LANGUAGE? CDATA >
<!ATTLIST TITLE RATING? CDATA >
<!ELEMENT DESCRIPTION (#PCDATA) >